@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Julius+Sans+One&family=Montserrat&family=Outfit:wght@300&family=Poppins:wght@500&family=Satisfy&family=Ubuntu+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}

.qrcode--card {
  background-color: #d0e5ee;
  height: 100vh;
}

.card { 
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30rem;
}

.card h4 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.card small {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}